*.exe
*.sdf
*.opensdf
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
_i.c
_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.Cache
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.DotSettings
Bin/
bin/
Debug/
debug/
obj/
Release/
release/
_ReSharper/
NDependOut/
packages/
Thumbs.db
thumbs.db
TestResult/
testresult/
BuildLog
buildlog
*.Publish.xml
*.publish.xml
*.resharper
*.ncrunch
*.ndproj
*.ipch
ipch/
stdout.txt
stderr.txt
